<div class="footer">
  <div class="container">
    <span class="text-muted pull-left">&copy; 2017 Hoop Inc.</span>
    <span class="pull-right">
      <ul>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
      </ul>
    </span>
  </div>
</div>
