<div class="container">
   <div class="panel">
    <h3>Drop a dime</h3>
    <p>Occupy bushwick succulents knausgaard fashion axe, YOLO mustache bicycle rights wolf pok pok direct trade cliche hot chicken hexagon. Kale chips hammock put a bird on it letterpress, dreamcatcher +1 keffiyeh chillwave readymade la croix fixie. Pork belly freegan brunch, polaroid hot chicken hexagon green juice.</p>

    <br>

    <h6><%= render 'form', post: @post %></h6>

    <br>

    <%= link_to 'Cancel', post_path %>
  </div>
</div>