<div class="container">
   <div class="panel">
    <h3>Drop a dime</h3>
    <p>Share what's going on in your world of basketball, tips on how to become a better player, or anything else that you want to remember or think other ballers would benefit from. You can even share an inspring link, but please add a comment or additional context to kick start a discussion. Remember to be nice and please don't spam.</p>

    <br>

    <h6><%= render 'form', post: @post %></h6>

    <br>

    <%= link_to 'Cancel', posts_path %>
  </div>
</div>